<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define RockStatic_TargetDir=$(var.RockStatic.TargetDir)?>
  <Product Id="*" Name="RockStatic" Language="1033" Version="0.9.0.0" Manufacturer="HDSP Group" UpgradeCode="e3b4a4be-544f-4676-9ca8-26b87cf09934">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />
    <Feature Id="ProductFeature" Title="RockStatic" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="resources_files" />
      <ComponentRef Id="StartMenuShortcuts" />
      <ComponentRef Id="EvilDICOM.dll" />
      <ComponentRef Id="MathNet.Numerics.dll" />
      <ComponentRef Id="AForge.dll" />
      <ComponentRef Id="AForge.Imaging.dll" />
      <ComponentRef Id="AForge.Math.dll" />
      <ComponentRef Id="ZzzzRangeBar.dll" />
      <ComponentRef Id="RockStatic.exe" />
      <ComponentRef Id="RockStatic.exe.config" />
      <ComponentRef Id="RockStaticGreen.ico" />
      <ComponentRef Id="help.pdf" />
      <ComponentRef Id="resources_hdsp.ico" />
      <ComponentRef Id="resources_Logo.png" />
    </Feature>
    <UI>
      <UIRef Id="WixUI_InstallDir" />

      <!-- Skip license dialog -->
      <Publish Dialog="WelcomeDlg"
               Control="Next"
               Event="NewDialog"
               Value="InstallDirDlg"
               Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg"
               Control="Back"
               Event="NewDialog"
               Value="WelcomeDlg"
               Order="2">1</Publish>
    </UI>
    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition Message="This application requires .NET Framework 4.5">Installed OR NETFRAMEWORK45</Condition>
    <Icon Id="DesktopIcon.exe" SourceFile="$(var.RockStatic_TargetDir)RockStatic.exe" />
    <Icon Id="StartMenuIcon.exe" SourceFile="$(var.RockStatic_TargetDir)RockStatic.exe" />
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="RockStatic">
          <Directory Id="resources" Name="resources" />
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" />
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="RockStatic HDSP UIS">
          <Component Id="StartMenuShortcuts" Guid="BA1B88C9-58E4-49AA-AAD4-C90FA2C3A4BD">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
            <Shortcut Id="UninstallProduct" Name="Uninstall" Description="Uninstalls the application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
            <util:InternetShortcut Id="OnlineDocumentationShortcut" Name="HDSP Group Webpage" Target="http://www.hdspgroup.com"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Icon Id="icon.ico" SourceFile="$(var.RockStatic_TargetDir)RockStaticGreen.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
      <Component Id="help.pdf" Guid="65ED16F5-214F-457F-83C8-D8DAD151A7E8">
        <File Id="help.pdf" Name="help.pdf" Source="$(var.RockStatic_TargetDir)help.pdf" />
      </Component>
      <Component Id="EvilDICOM.dll" Guid="80f40e4c-b8e7-459c-aa10-89cc52ba6788">
        <File Id="EvilDICOM.dll" Name="EvilDICOM.dll" Source="$(var.RockStatic_TargetDir)EvilDICOM.dll" />
      </Component>
      <Component Id="MathNet.Numerics.dll" Guid="bd81cb0f-8c4b-42c2-b1de-e22420374d0a">
        <File Id="MathNet.Numerics.dll" Name="MathNet.Numerics.dll" Source="$(var.RockStatic_TargetDir)MathNet.Numerics.dll" />
      </Component>
      <Component Id="AForge.dll" Guid="05f79f0d-4ce4-4f2e-9b56-e4cdd262b6dc">
        <File Id="AForge.dll" Name="AForge.dll" Source="$(var.RockStatic_TargetDir)AForge.dll" />
      </Component>
      <Component Id="AForge.Imaging.dll" Guid="b7cd4bfc-1f2a-4a02-be78-c0b97b8088fa">
        <File Id="AForge.Imaging.dll" Name="AForge.Imaging.dll" Source="$(var.RockStatic_TargetDir)AForge.Imaging.dll" />
      </Component>
      <Component Id="AForge.Math.dll" Guid="1e2c9644-33a9-4409-b23a-aa39da4b4949">
        <File Id="AForge.Math.dll" Name="AForge.Math.dll" Source="$(var.RockStatic_TargetDir)AForge.Math.dll" />
      </Component>
      <Component Id="ZzzzRangeBar.dll" Guid="e1fac94f-7aed-403f-8ad2-17a34973a374">
        <File Id="ZzzzRangeBar.dll" Name="ZzzzRangeBar.dll" Source="$(var.RockStatic_TargetDir)ZzzzRangeBar.dll" />
      </Component>
      <Component Id="RockStatic.exe" Guid="5590a2e2-dda0-49b9-8ddc-7f0dd8beea99">
        <File Id="RockStatic.exe" Name="RockStatic.exe" Source="$(var.RockStatic_TargetDir)RockStatic.exe">
          <Shortcut Id="desktopShortcut" Directory="DesktopFolder" Name="Caracterizacion Estatica de Rocas" WorkingDirectory="INSTALLDIR" Advertise="yes" Icon="DesktopIcon.exe" IconIndex="0" />
          <Shortcut Id="ExeShortcut" Directory="ProgramMenuDir" Name="RockStatic" Advertise="yes" Icon="StartMenuIcon.exe" IconIndex="0" />
        </File>
      </Component>
      <Component Id="RockStatic.exe.config" Guid="44385773-a467-4193-9e77-51edbf5d3b85">
        <File Id="RockStatic.exe.config" Name="RockStatic.exe.config" Source="$(var.RockStatic_TargetDir)RockStatic.exe.config" />
      </Component>
      <Component Id="RockStaticGreen.ico" Guid="1b97225e-938b-4331-bd38-d789f46b01e5">
        <File Id="RockStaticGreen.ico" Name="RockStaticGreen.ico" Source="$(var.RockStatic_TargetDir)RockStaticGreen.ico" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="resources_files" Directory="resources">
      <Component Id="resources_hdsp.ico" Guid="c5ad3e88-834b-4ebf-a16e-4f21c47520f6">
        <File Id="resources_hdsp.ico" Name="hdsp.ico" Source="$(var.RockStatic_TargetDir)resources\hdsp.ico" />
      </Component>
      <Component Id="resources_Logo.png" Guid="d77a1c2f-9512-4362-8a3f-2ee40b6fee3a">
        <File Id="resources_Logo.png" Name="Logo.png" Source="$(var.RockStatic_TargetDir)resources\Logo.png" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>